.fish_container{
  z-index: -1;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
#footer-wrap{
  position: absolute;
  text-align: center;
  padding: 20px 20px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

