:root {
	--trans-light: rgba(255, 255, 255, 0.80);
	--trans-dark: rgba(25, 25, 25, 0.70);
	--border-style: 2px solid rgb(110, 228, 241);
	--backdrop-filter: blur(5px) saturate(150%);
  }
  
  /* 首页文章卡片 - 仿照侧栏卡片的透明效果 */
  #recent-posts .recent-post-item {
	background: var(--trans-light) !important;
	border-radius: 25px !important;
	border: var(--border-style) !important;
  }
  
  /* 首页侧栏卡片 */
  #aside-content .card-widget {
	background: var(--trans-light);
	border-radius: 18px;
	border: var(--border-style);
  }
  
  /* 文章页、归档页、普通页面 */
  div#post,
  div#page,
  div#archive {
	background: var(--trans-light);
	border: var(--border-style);
	border-radius: 20px;
	--border-style: 2px solid rgb(82, 224, 132);
  }

  
  /* 导航栏 */
  #page-header.nav-fixed #nav {
	background: rgba(255, 255, 255, 0.88);
  }
  
  [data-theme="dark"] #page-header.nav-fixed #nav {
	background: rgba(0, 0, 0, 0.7) !important;
  }
  
  /* 夜间模式遮罩 */
  [data-theme="dark"] #recent-posts .recent-post-item,
  [data-theme="dark"] #aside-content .card-widget,
  [data-theme="dark"] div#post,
  [data-theme="dark"] div#archive,
  [data-theme="dark"] div#page {
	background: var(--trans-dark);
  }
  
  
  /* 夜间模式页脚页头遮罩透明 */
  [data-theme="dark"] #footer::before {
	background: transparent !important;
  }
  [data-theme="dark"] #page-header::before {
	background: transparent !important;
  }
  
  /* 阅读模式 */
  .read-mode #aside-content .card-widget {
	background: rgba(118, 238, 152, 0.5) !important;
  }
  .read-mode div#post {
	background: rgba(114, 227, 146, 0.5) !important;
  }
  
  /* 夜间模式下的阅读模式 */
  [data-theme="dark"] .read-mode #aside-content .card-widget {
	background: rgba(25, 25, 25, 0.9) !important;
	color: #ffffff;
  }
  [data-theme="dark"] .read-mode div#post {
	background: rgba(25, 25, 25, 0.9) !important;
	color: #ffffff;
  }

  /* 下面是个人卡片背景图的css样式 */
  /*白天主题下的配置*/
#aside-content>.card-widget.card-info {
    /*换成自己图片的地址*/
    background-image: url('https://bu.dusays.com/2025/03/25/67e2b9ca072d3.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%
}
/*黑暗主题下的配置*/
[data-theme=dark] #aside-content>.card-widget.card-info {
    /*换成自己图片的地址*/
    background-image: url('https://bu.dusays.com/2025/03/25/67e2baa9b44a2.png') !important
}



